.jumbotron {
    padding: 4rem 1rem;
    margin-bottom: 2rem;
    background-color: transparent;
    /* border-radius: .3rem; */
}

body {
    background-color: #222;
    color: rgb(228, 228, 228)!important;
}

a {
  text-decoration: none;
  color: white;
  size: 10;
}

/* i fogot 💀 */

.toast {
  position: fixed;
  bottom: 0;
  right: 0;

  transform: translateY(100%);
  opacity: 0;

  transition:
      opacity 500ms,
      transform 500ms;
}

.toast.visible {
  transform: translateY(0);
  opacity: 1;
}

.toast-body {
  margin: 28px;
  padding: 20px 24px;

  font-size: larger;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background-color: lightskyblue;
  color: darkblue;

  border-radius: 4px;
}